@value vars: "../shared/css/variables.css";
@value spacing, spacing-small, spacing-large, small-viewport from vars;

.wrapper {
  composes: size-primary from "../shared/css/typography.css";
  composes: font-primary from "../shared/css/typography.css";
  line-height: 1.6;
  max-width: 60rem;
  margin: 0 auto;
  padding: spacing-large 0;
}
