.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  margin: 0 -0.8rem;
}

.loading {
  height: 100vh;
}

.item {
  margin: 0 0.8rem;
  width: calc(50% - 1.6rem);

  @media (max-width: 40em) {
    margin: 0 1.6rem;
    width: calc(100% - 3.2rem);
  }
}
