.content {
  composes: spacing-primary from "../shared/css/layout.css";
  display: block;
  width: 100%;
  min-height: 300px;
  background-color: rgb(180, 180, 180);
  position: relative;
  z-index: 100;
}
