@value vars: "../shared/css/variables.css";
@value spacing, spacing-small, spacing-large, color-primary, small-viewport from vars;

.wrapper {
  composes: spacing-primary from "../shared/css/layout.css";
  padding-left: spacing;
  padding-bottom: spacing;
  position: relative;
  z-index: 100;
}

.odd {
  padding-left: 0;
}

.even {
  padding-left: spacing-large;
}

.odd,
.even {
  @media (max-width: small-viewport) {
    padding-left: 0;
  }
}

.location {
  margin-bottom: spacing-small;
}

.date {
  composes: font-secondary from "../shared/css/typography.css";
  composes: size-secondary from "../shared/css/typography.css";
  margin: 0;
}
