@value vars: "./variables.css";
@value font-text, font-text-strong, font-alt, font-size, font-size-alt, font-size-small, font-size-xsmall, color-primary, small-viewport from vars;

@font-face {
  font-family: "Tiempos Text Regular";
  font-weight: 400;
  src: url("../../assets/fonts/TiemposTextWeb-Regular.eot");
  src:
    url("../../assets/fonts/TiemposTextWeb-Regular.eot?#iefix") format("embedded-opentype"),
    url("../../assets/fonts/TiemposTextWeb-Regular.woff2") format("woff2"),
    url("../../assets/fonts/TiemposTextWeb-Regular.woff") format("woff");
}

@font-face {
  font-family: "Tiempos Text Semibold";
  font-weight: 600;
  src: url("../../assets/fonts/TiemposTextWeb-Semibold.eot");
  src:
    url("../../assets/fonts/TiemposTextWeb-Semibold.eot?#iefix") format("embedded-opentype"),
    url("../../assets/fonts/TiemposTextWeb-Semibold.woff2") format("woff2"),
    url("../../assets/fonts/TiemposTextWeb-Semibold.woff") format("woff");
}

@font-face {
  font-family: "Courier Prime Medium";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/CourierPrime-Medium.eot");
  src:
    url("../../assets/fonts/CourierPrime-Medium.eot?#iefix") format("embedded-opentype"),
    url("../../assets/fonts/CourierPrime-Medium.woff") format("woff"),
    url("../../assets/fonts/CourierPrime-Medium.ttf") format("truetype"),
    url("../../assets/fonts/CourierPrime-Medium.svg#CourierPrime-Medium") format("svg");
}

.size-primary {
  font-size: font-size;

  @media (max-width: small-viewport) {
    font-size: font-size-small;
  }
}

.size-secondary {
  font-size: font-size-alt;

  @media (max-width: small-viewport) {
    font-size: font-size-xsmall;
  }
}

.color-primary {
  color: color-primary;
}

.font-primary {
  font-family: font-text;
  font-weight: 400;
}

.font-bold {
  font-family: font-text-strong;
  font-weight: 600;
}

.font-secondary {
  font-family: font-alt;
}

.heading {
  composes: size-primary;
  font-weight: 600;
  font-feature-settings: "smcp" 1;
  text-transform: lowercase;
}

.link {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
